agm-map {
  height: 400px;
}

.map-container {
  width: 60%;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}

.contact-data {
  display: flex;
  flex-direction: column;
}

textarea.ng-invalid.ng-touched, input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.form-container {
  width: 100%;
}

.row {
  justify-content: center;
}

h5{
  font-weight: bold;
}

.contact-item {

}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .contact-data{
    align-items: center;
    padding-bottom: 24px;
  }
  .map-container {
    width: 90%;
    margin-left: 5%;
  }
}
