<div class="container">
  <div class="contact-data">
    <h3>DANE KONTAKTOWE</h3>
    <br>
      <h5>Radosław Stabryła</h5>
      <a class="contact-item" href="tel:530326501">530 326 501</a>
      <h5>Email</h5>
      <a class="contact-item" href="mailto:stabros@interia.com">stabros@interia.com</a>
      <h5>Adres</h5>
      <h6>ul. 1000-lecia 52, 36-200 Brzozów</h6>
  </div>
  <div class="map-container">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
