<div class="my-container">
  <div class="contact-data">
    <h3>DANE KONTAKTOWE</h3>
    <div>
      <h5>Radosław Stabryła</h5>
      <h6>tel: 530 326 501</h6>
    </div>
    <div>
      <h5>Email</h5>
      <h6>stabros@stabros.pl</h6>
    </div>
    <div>
      <h5>STABROS</h5>
      <h6>Sanok, ul. Miłosza</h6>
    </div>
  </div>

  <div class="map-container">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>

</div>>
