agm-map {
  height: 400px;
}

.map-container {
  width: 60%;
}

.my-container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

textarea.ng-invalid.ng-touched, input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.form-container {
  width: 100%;
}
