.card {
  align-items: center;
  margin: 24px;
  border: none;
  max-width: 50vh;
  height: 200px;
}

.card-title {
  font-size: 24px;
  padding: 12px;
}

.card-img-top {
  object-fit: cover;
  height: 45vh;
}
