<div class="container">
  <h1 class="head">PARK MASZYN</h1>

  <div class="my-item" *ngIf="!mobile">
    <app-machinery-item class="item-container" *ngFor="let machine of machinery" [machine]="machine.current"></app-machinery-item>
  </div>

  <ngb-carousel *ngIf="mobile" [showNavigationIndicators]="mobile">
    <div class="myCard" *ngFor="let machine of MACHINES">
      <ng-template ngbSlide>
        <div class="slideContent">
          <app-machinery-item-mobile [machine]="machine"></app-machinery-item-mobile>
        </div>
      </ng-template>
    </div>
  </ngb-carousel>
</div>
