.machinery {
  display: flex;
  padding: 40px 0;
}

.head {
  width: 50vh;
  margin: 24px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 4;

}
