.container {
  padding-top: 5vh;
  min-height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
}

.slideContent {
  display: flex;
}

.prev, .next {
  color: transparent;
  opacity: 0.5;
}

.current {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  width: 80vh;
}

::ng-deep .carousel-item.active {
  height: 80vh;
}

::ng-deep .carousel-control-next-icon {

}
