<div class="container">
  <h1 class="head">PARK MASZYN</h1>
<ngb-carousel *ngIf="!mobile" [showNavigationIndicators]="mobile">
  <div *ngFor="let entry of machinery; ">
    <ng-template ngbSlide >
      <div class="slideContent">
      <app-machinery-item class="prev" [machine]="entry.prev"></app-machinery-item>
      <app-machinery-item class="current" [machine]="entry.current"></app-machinery-item>
      <app-machinery-item class="next" [machine]="entry.next"></app-machinery-item>
      </div>
    </ng-template>
  </div>
</ngb-carousel>
  <ngb-carousel *ngIf="mobile" [showNavigationIndicators]="mobile">
    <div class="myCard" *ngFor="let machine of MACHINES">
      <ng-template ngbSlide>
        <div class="slideContent">
          <app-machinery-item [machine]="machine"></app-machinery-item>
        </div>
      </ng-template>
    </div>
  </ngb-carousel>
</div>
