<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand brand" (click)="navigateTo('stabros')">
  STABROS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
          aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="nav-link btn btn-link" (click)="navigateTo('stabros')">STABROS</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" (click)="navigateTo('o_firmie')">O FIRMIE</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" (click)="navigateTo('park_maszyn')">PARK MASZYN</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" (click)="navigateTo('uslugi')">USŁUGI</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" (click)="navigateTo('kontakt')">KONTAKT</button>
      </li>
    </ul>
  </div>
</nav>
