.navbar {
  overflow: hidden;
  background-color: #F2EFEF;
  width: 100%;
  height: 10vh;
}

#navbarNav {
  justify-content: flex-end;
  margin-right: 15%;
}

.brand {
  font-family: Orbitron;
  font-size: 32px;
  margin-left: 10%;
}
