<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand brand" href="#home">
    <img src="../../assets/images/tractor-red.png" height="48px" class="d-inline-block align-top" alt="">
    STABROS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#home">STABROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#machineryComponent">PARK MASZYN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#servicesComponent">USŁUGI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactFormComponent">KONTAKT</a>
      </li>
    </ul>
  </div>
</nav>
