.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  justify-content: center;
  padding: 25px 0;
}

.my-container {
  background: #E3E3E3;
  display: flex;
  min-height: 90vh;
}

h5, p {
  text-align: center;
}
